<section
  id="inicio"
  class="text-2xl xs:text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-[#0f3433] flex items-center"
  appFadeIn
>
  <article class="my-auto">
    <span #textElement></span>
    <div class="flex justify-center mt-4">
      <span #textElement2 class="flex justify-center text-[#1d8581]"></span>
      <span class="text-white animate-blink">{{ cursorChar }}</span>
    </div>
  </article>
  <div class="flex items-center justify-center gap-4">
    <a
      href="/assets/documentos/Curriculum 2025.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-primary transition-transform duration-300 ease-in-out hover:scale-105"
    >
      <fa-icon [icon]="faFileArrowDown"></fa-icon>
      <label class="cursor-pointer pl-2 hidden md:inline">Descargar CV</label>
    </a>
    <a
      href="https://www.linkedin.com/in/felipe-andr%C3%A9s-fuentealba-illanes-75978b154/"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-primary transition-transform duration-300 ease-in-out hover:scale-105"
    >
      <fa-icon [icon]="faLinkedin"></fa-icon>
      <label class="cursor-pointer pl-2 hidden md:inline">Linkedin</label>
    </a>
    <a
      href="https://github.com/fuentealba91"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-primary transition-transform duration-300 ease-in-out hover:scale-105"
    >
      <fa-icon [icon]="faGithub"></fa-icon>
      <label class="cursor-pointer pl-2 hidden md:inline">Github</label>
    </a>
  </div>
</section>
