<section id="acerca" appFadeIn>
  <article
    class="my-auto w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] 2xl:w-[40%] mx-auto"
  >
    <p>
      ¡Hola! Soy un desarrollador web apasionado por crear soluciones digitales
      que combinan funcionalidad y diseño. Tengo experiencia trabajando con
      tecnologías como React, Node.js, MySQL y MongoDB, y disfruto enfrentar
      desafíos que me permitan aprender y crecer en este campo en constante
      evolución.
    </p>

    <p>
      Mi enfoque está en construir aplicaciones escalables, eficientes y fáciles
      de usar. He trabajado en proyectos que van desde el diseño de interfaces
      intuitivas hasta la implementación de complejas arquitecturas de backend.
      Además, valoro el trabajo en equipo y siempre busco colaborar para lograr
      resultados que superen las expectativas.
    </p>
    <p>
      Cuando no estoy programando, me gusta explorar nuevas tecnologías,
      aprender sobre diseño de software y compartir conocimientos con la
      comunidad. Mi objetivo es seguir desarrollando mi carrera y contribuir a
      proyectos que tengan un impacto positivo.
    </p>
  </article>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <!-- Caja 1 -->
    <div class="bg-white shadow-md rounded-md p-4">
      <h3 class="font-bold text-lg mb-2">Título 1</h3>
      <p>Contenido de la caja 1.</p>
    </div>
    <!-- Caja 2 -->
    <div class="bg-white shadow-md rounded-md p-4">
      <h3 class="font-bold text-lg mb-2">Título 2</h3>
      <p>Contenido de la caja 2.</p>
    </div>
    <!-- Caja 3 -->
    <div class="bg-white shadow-md rounded-md p-4">
      <h3 class="font-bold text-lg mb-2">Título 3</h3>
      <p>Contenido de la caja 3.</p>
    </div>
  </div>
</section>
