<section id="acerca" class="w-[25rem] md:w-full" appFadeIn>
  <div class="flex justify-center mt-4">
    <h2>Acerca de mi()</h2>
    <h2 class="text-white animate-blink">{{ cursorChar }}</h2>
  </div>
  <article
    class="my-auto w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] 2xl:w-[40%] mx-auto bg-white p-4 rounded-xl mb-4"
  >
    <p>
      Como desarrollador Fullstack, soy responsable de crear proyectos web que
      se me soliciten, desde implementar el diseño que se tenga en mente hasta
      el despliegue del mismo proyecto.
    </p>
    <p>
      Esto me ha llevado a trabajar en diferentes proyectos ya sean personales o
      como empleado de alguna empresa, lo cual me ha permitido aprender y
      mejorar mis habilidades en el ambito profesional.
    </p>
  </article>
  <div class="my-auto w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] 2xl:w-[40%] mx-auto">
    <app-card-habilidades class="pointer-events-auto"></app-card-habilidades>
  </div>
</section>