<div class="w-full p-7">
  <div class="flex w-full justify-center">
    <fa-icon
      [icon]="selectedIcon"
      class="text-[#1d8581] text-2xl my-auto pl-4"
    ></fa-icon>
    <h2 class="p-4 text-xl font-bold text-[#1d8581]">
      {{
        estudios.length > 0
          ? "Estudios"
          : experiencia.length > 0
          ? "Experiencia"
          : "Otro"
      }}
    </h2>
  </div>
  <div appFadeIn>
    <div
      class="bg-[#004643] rounded-lg p-6 mb-4 shadow-xl transition-transform duration-300 ease-in-out hover:scale-105 flex flex-col justify-between items-start w-[22rem] md:min-w-[28rem]"
      *ngFor="let item of itemsToDisplay"
    >
      <h3 class="font-bold text-white text-lg">{{ item.estudio }}</h3>
      <p class="lugar text-white font-medium text-sm">{{ item.lugar }}</p>
      <p class="year text-white text-sm">{{ item.desde }} - {{ item.hasta }}</p>
    </div>
  </div>
</div>
