@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-grid-pattern bg-cover bg-blend-multiply bg-[#abd1c6] bg-no-repeat bg-fixed font-mono;
  }

  section {
    @apply w-full min-h-screen pb-44 flex flex-col items-center pt-44;
  }

  h2 {
    @apply text-4xl font-bold text-[#1d8581] pb-10;
  }

  h3 {
    @apply text-2xl font-bold text-white pb-5;
  }

  p {
    @apply text-[#0f3433] font-bold text-lg pb-5;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.fade-in.visible {
  opacity: 1;
}