@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@layer base {
  /* body {
    @apply bg-grid-pattern bg-cover bg-blend-multiply bg-[#abd1c6] bg-no-repeat bg-fixed font-mono;
  } */
   body {
    @apply font-mono;
   }

  section {
    @apply w-full min-h-screen pb-44 flex flex-col items-center pt-24 md:pt-44;
  }

  h2 {
    @apply text-4xl font-bold text-[#1d8581] pb-10;
  }

  h3 {
    @apply text-2xl font-bold text-white pb-5;
  }

  p {
    @apply text-[#0f3433] font-bold text-lg pb-5;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#f9bc60] text-white font-semibold py-2 px-4 rounded-full text-lg cursor-pointer;
  }

  .btn-primary:hover {
    @apply bg-[#f7b149] text-white font-semibold py-2 px-4 rounded-full text-lg cursor-pointer;
  }

  .btn-secondary {
    @apply border-2 border-[#f9bc60] text-[#f9bc60] font-semibold py-2 px-4 rounded-full text-lg;
  }

  
  .error-message {
    @apply text-red-600 text-sm;
  }

  .form-control {
    @apply md:min-w-96 w-full p-3 border border-gray-300 rounded-md text-base transition-colors duration-150 ease-in-out focus:outline-none focus:border-indigo-600 focus:ring-4 focus:ring-indigo-100;
  }

  .form-control.error {
    @apply border-red-600;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.fade-in.visible {
  opacity: 1;
}